<% if notice %>
  <div class="alert alert-success" role="alert" data-controller="flash" data-target="flash.message">
    <%= flash[:notice] %>
    <button class="btn" data-action="flash#close">
      <i class="fas fa-times"></i>
    </button>    
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger" role="alert">
    <%= alert %>
    <button class="btn"><i class="fas fa-times"></i></button>    
  </div>
<% end %>
